    <!-- å¤´éƒ¨ -->
    <header class="container">
        <nav>
            <!-- å·¦ä¾§flexboxå ä½ -->
            <div class="left-flex-box"></div>
            <div class="navLink ">
                <ul>
                    <li class="logo">
                        <a href="#"><img src="/images/logo.png" alt="Logo"></a>
                    </li>
                    
                        <!-- å†…éƒ¨é“¾æŽ¥æœ¬é¡µé¢ç›´æŽ¥è·³è½¬ -->
                <% for ( menu in theme.menus ) { %>
                    <li><a class="second-title" href="<%- theme.menus[menu] %>"><%- menu %></a></li>
                <% } %>
                </ul>
            </div>
            <div class="search-dark-mode">
                <input type="text" placeholder="Search...">
                <button onclick="toggleDarkMode()">ðŸŒ™</button>
            </div>
        </nav>
    </header>
 <!-- å¤´éƒ¨ç»“æŸ -->