
<div id="article">
    <div class="post-info">
        <span id="post-author">作者: <%- theme.author %></span>
        <span id="post-date"><%- date(page.date, "YYYY-MM-DD HH:mm:ss") %></span>
    </div>
    <%- page.content %>
</div>