   <!-- 右边侧边栏，文章分类 -->
   <div class="rightAside">
    <div id="tree">
        <ul>
            <li class="post_id1">
                <a href="#">
                    <i class="fa fa-file"> </i>
                    文章标题1
                </a>
            </li>
            <li class="post_id2">
                <a href="#">
                    <i class="fa fa-file"> </i>
                    文章标题2
                </a>
            </li>
            <li class="post_id3">
                <a href="#">
                    <i class="fa fa-file"> </i>
                    文章标题3
                </a>
            </li>

            <li class="directory4">
                <a href="#" class="directory">
                    <i class="fa fa-folder"></i>
                    文件夹标题
                </a>

                <ul>
                    <li class="post_id5">
                        <a href="#">
                            <i class="fa fa-file"> </i>
                            文章标题4
                        </a>
                    </li>
                    <li class="post_id6">
                        <a href="#">
                            <i class="fa fa-file"> </i>
                            文章标题5
                        </a>
                    </li>
                    <li class="post_id7">
                        <a href="#">
                            <i class="fa fa-file"> </i>
                            文章标题6
                        </a>
                    </li>
                    <li class="post_id8">
                        <a href="#">
                            <i class="fa fa-file"> </i>
                            文章标题7
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>